# any node_modules
node_modules

# vscode
.vscode

# Mac
.DS_Store

# doc
*.md

# env file
.env

# local postgres data
backend/data/postgres

backend/.agents
backend/.devin
backend/.claude
backend/.windsurf
backend/.cursor